      <!-- Work with me form -->
      <section class="px-5 py-6 m-8 rounded-md bg-purple-conic">
        <h3 class="text-sm font-bold text-white font-dmsans">Work with me</h3>
        <form
          class="flex flex-col mt-6 text-xs font-normal text-white font-dmsans"
        >
          <label class="mt-6 mb-3" for="fullName">Full-Name</label>
          <input id="fullName" type="text" class="rounded-md" />

          <label class="mt-6 mb-3" for="email">Email Address</label>
          <input id="email" type="email" class="rounded-md" />

          <label class="mt-6 mb-3" for="message">Message</label>
          <textarea id="message" class="rounded-md"></textarea>

          <input
            class="self-center w-64 py-2 mt-8 text-base font-medium text-center text-white bg-black rounded-md font-montserrat"
            role="button"
            value="Submit"
          />
        </form>
      </section>
      <!-- ./work with me form -->