
  <!-- site footer -->
  <footer class="px-8 py-5 text-white bg-black font-dmsans">
    <section class="my-4">
      <h3 class="text-2xl">Contentdots</h3>
      <div class="mt-2">
        <p class="w-2/3 text-xs">
          Contentdots is the world’s leading community for creatives to share,
          grow.
        </p>
      </div>
    </section>
    <section class="my-4">
      <h4 class="text-sm font-bold lowercase">Subscribe to Our Newsletter</h4>
      <form class="p-0 m-0">
        <div class="mb-3">
          <input
            type="email"
            placeholder="email address"
            class="h-8 p-2 text-gray-900 outline-none font-input rounded-l-md focus:ring-0"
          />
          <input
            type="button"
            value="Submit"
            class="top-0 h-8 p-2 m-0 -mt-2 text-xs text-white outline-none font-montserrat rounded-r-md"
          />
        </div>
        <input type="checkbox" id="newsletterPolicy" class="w-2 h-2" />
        <label for="newsletterPolicy" class="ml-3 text-xxs"
          >By Subscribing, you agree to our
          <a href="#">Privacy Policy</a></label
        >
      </form>
    </section>
    <section class="my-4">
      <h4 class="mb-3 text-base font-bold">Company</h4>
      <div class="flex flex-col mt-2 space-y-2 text-xs font-normal">
          {{navigation type="secondary"}}
        {{!-- <a href="#">About</a>
        <a href="#">Work with Me</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy policy</a> --}}
      </div>
    </section>
    <div class="h-px bg-white"></div>
    <p class="font-montserrat text-xxs">
      © 2021 {{@site.title}}. All rights reserved.
    </p>
  </footer>
  <!-- ./site footer -->