<!-- site header -->
 <header id="main-header">
            <!-- logo -->
            <a class="logo-link" href="{{@site.url}}">
                <!-- <img
          src="./img/cropped-Logo-Background-1-227x27.png"
          class="text-lg font-extrabold text-center lowercase place-self-center"
        /> -->
                <p class="logo-text">Contentdots</p>
            </a>
            <!-- mobile menu toggle -->
            <input type="checkbox" id="overlay-input" class="peer" />
            <label id="overlay-button" for="overlay-input" class="group">
                <span
                    class="burger-span group-hover:bg-gray-700 group-hover:before:bg-gray-700 group-hover:after:bg-gray-700 peer-checked:group-hover:bg-transparent peer-checked:bg-transparent;"
                ></span>
            </label>
            <!-- ./mobile menu toggle -->
            <nav class="invisible nav peer-checked:visible">
            {{navigation}}
            </nav>
        </header>
<!-- ./site header -->