<section class="flex flex-col md:flex-row hero">
    {{#page}}
        <div
            class="flex flex-col justify-center h-screen px-8 md:w-3/5 md:pl-14 md:pr-9"
        >
            <h2
                class="text-2xl font-bold text-center font-dmsans md:text-left md:font-medium md:text-4xl md:w-4/5"
            >
                {{title}}
            </h2>
            <p
                class="my-5 text-xs text-center text-gray-700 md:w-3/5 md:text-left md:text-base md:font-normal md:my-8 font-dmsans"
            >
                {{content}}
            </p>
            <h4
                class="mb-3 text-sm font-bold text-center text-gray-900 lowercase md:text-left font-dmsans md:font-bold md:text-base md:mb-4"
            >
                Subscribe to Our Newsletter
            </h4>
            <div>
                <form
                    class="flex flex-col text-center align-middle md:text-left"
                >
                    <div class="mb-4">
                        <input
                            type="email"
                            placeholder="email address"
                            class="h-8 p-2 text-xs font-normal text-gray-900 placeholder-black outline-none font-input rounded-l-md focus:ring-0 font-dmsans md:w-60"
                        />
                        <input
                            type="button"
                            value="Submit"
                            class="top-0 h-8 p-2 m-0 -mt-2 text-xs text-white bg-black outline-none font-montserrat rounded-r-md"
                        />
                    </div>
                    <div class="flex flex-row justify-center md:justify-start">
                        <input
                            id="privacyPolicy"
                            type="checkbox"
                            class="w-3 h-3"
                        />
                        <label
                            for="privacyPolicy"
                            class="font-normal font-dmsans text-xxs"
                        >
                            &nbsp;By Subscribing, you agree to our
                            <a href="#">Privacy Policy</a></label>
                    </div>
                </form>
            </div>
        </div>
        <!-- hero image -->
        <div
            class="hidden md:w-2/5 md:flex md:flex-col md:justify-center md:items-center md:px-5"
        >
            <img
                class="w-full"
                src="{{asset "img/yellowLarge.png"}}"
                alt="a hero image"
            />
        </div>
        <!-- ./hero image -->
    {{/page}}
</section>