<a href="#" class="flex flex-row h-14">
    <img src="img/post1.jpg" class="w-16" alt="post thumbnail" />
    <div class="flex flex-col justify-between ml-5">
      <p
        class="text-xs font-bold text-gray-900 font-dmsans line-clamp-2"
      >
        Digital Marketing in a nutshell today in a nutshell today in a
        nutshell today in a nutshell today in a nutshell todayin a
        nutshell today...
      </p>
      <p class="font-normal text-gray-600 font-dmsans text-xxs">
        April 21st, 2021
      </p>
    </div>
  </a>